{{#each companies }}
    {{#compare this.name "!==" "A certain airline company ....."}}
        <div class="col-lg-3">
            <p class="well">
                <img src="{{ this.logo }}" height="{{ this.height }}" width="{{ this.width }}">
                <br />
                <a href="{{ this.url }}">{{ this.name }}</a>
            </p>
        </div>
    {{/compare}}
{{/each}}
